/* My html is black in color. */
html {
  color: black;
}
/* My head is black in color. */
head {
  color: black;
}
/* My meta is black in color. */
meta {
  color: black;
}
/* My title is black in color and visible for the eyes. */
title {
  color: black;
}
/* My link is black in color. */
link {
  color: black;
}
/* My body is black in color. */
body {
  color: black;
}
/* My header is black in color. */
header {
  color: black;
}
/* My nav is black in color. */
nav {
  color: black;
}
/* My ul is black in color. */
ul {
  color: black;
}
/* My li is black in color. */
li {
  color: black;
}
/* My  a is blue in color. */
a {
  color: blue;
}
/* My footer is black in color. */
footer {
  color: black;
}
/* My  h1 is black in color. */
p {
  color: black;
}
/* My h1 is black in color. */
h1 {
  color: black;
}
/* My Main is black in color. */
main {
  color: black;
}
/* My form is black in color. */
form {
  color: black;
}
/* my label is black in color. */
label {
  color: black;
}
/* My input is black in color. */
input {
  color: black;
}
/* My button is black in color. */
button {
  color: black;
}
/* My  br is black in color. */
br {
  color: black;
}
/* My textarea is black in color. */
textarea {
  color: black;
}
/*My div is black in color. */
div {
  color: black;
}
/* My section is black in color. */
section {
  color: black;
}
