/* html is black in color. */
html {
  color: black;
}
/* My head is black in color. */
head {
  color: black;
}
/* My meta is black in color. */
meta {
  color: black;
}
/* My title is black in color. */
title {
  color: black;
}
/* My link is connect's my html to my ccs. */
link {
  color: black;
}
/* My body is black in color */
body {
  color: black;
}
/* My header is black in color. */
header {
  color: black;
}
/* My nav is black in color */
nav {
  color: black;
}
/* My footer is black in color and the padding-left is 550px. */
footer {
  color: black;
  padding-left: 550px;
}
/* My main is black in color. */
main {
  color: black;
}
/* My div is black in color. */
div {
  color: black;
}
/* My table black in color border-collapse is collapse, the width is 1425px and the width is 100%. */
table {
  color: black;
  border-collapse: collapse;
  width: 1425px;
  width: 100%;
}
/* My caption is black in color and my font-size is 20px making visible for eye sight. */
caption {
  color: black;
  font-size: 20px;
}
/* My thead is black in color. */
thead {
  color: black;
}
/* My tr is black in color. */
tr {
  color: black;
}
/* My th is black in color and the padding is 8px. */
th {
  border: 1px solid black;
  padding: 8px;
}
/* My td border 1px solid black and the padding is 8px. */
td {
  border: 1px solid black;
  padding: 8px;
}
/* My tbody is black in color. */
tbody {
  color: black;
}
/* My hr is black in color. */
hr {
  color: black;
}
/* My footer is black in color and the padding-left is 550px. */
footer {
  color: black;
  padding-left: 550px;
}
/* My p is black in color. */
p {
  color: black;
}
/* My h1 is black in color. */
h1 {
  color: black;
}
/* My h2 is black in color. */
h2 {
  color: black;
}
/* My adress is black in color. */
address {
  color: black;
}
/* My p is black in color. */
p {
  color: black;
}
